<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Como ja definimos a pasta public na rota, não precisamos colocá-la na importação -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Tudo que for customizado deve ser carregado depois do Bootstrap -->
    <link rel="stylesheet" href="/css/style.css">
</head>