    <!-- Bootstrap: navbar -->
    <nav class="navbar navbar-light bg-light">
        <a href="/" class="navbar-brand">
            <img src="/img/logo.png" style="width: 50px; height: 40px;" alt="">
        </a>
    </nav>