<%- include ('partials/head.ejs') %>

<body>
    <%- include ('partials/navbar.ejs')  %>



    <!-- Bootstrap: container -->
    <div class="container">

        <hr>
        <h1>Perguntas</h1>
        <hr>
        <a href="/perguntar" class="btn btn-primary">Perguntar</a>
        <hr>

        <% parameters.map(i => { %>
        <!-- Bootstrap: card -->
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <h4><%= i.title %></h4>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Responder</button>
            </div>
        </div>
        <% }) %>
    </div>

</body>

<%- include ('partials/importBootstrapScripts.ejs') %>